@font-face {
    font-family: 'Rubik';    
    src: url('../fonts/Rubik-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-medium';
    src: url('../fonts/rubik-v9-cyrillic-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-bold';
    src: url('../fonts/rubik-v9-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: "Rubik";
    margin: 0;
}

/***** header *****/

#header {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    width: 1140px;
}

.logobox {
    display: flex;
    justify-content: center;
    font-family: 'Rubik-medium';
}

nav {
    margin: auto;
}

.sign {
    font-family: 'Rubik-medium';
    margin: auto 0;
}

.logobox div {
    font-size: 20px;
    margin: auto 10px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
}

nav li a {
    color:#707682;
    text-decoration: none;
    margin: 0 20px;
}

.sign a {
    text-decoration: none;
    margin-left: 26px;
    color: black;
}

.sign a:first-child {
    margin-left: 46px;
}

.sign a:last-child {
    border: 1px solid #F53855;
    padding: 13px 45px;
    border-radius: 50px;
    color: #F53855;
}


/***** hero *****/

.promo {
    display: flex;
    justify-content: space-between;
    padding: 23px 0 110px 0;
    margin: auto;
    width: 1140px;
}
strong {
    font-family: "Rubik-bold";
}
h1 {
    font-family: "Rubik-medium";
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 0;
}

h6 {
    font-family: "Rubik";
    font-size: 16px;
    line-height: 30px;
    color:#707682;
    margin-top: 19px;
    margin-bottom: 0;
}

.button {
    background: #F53838;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: "Rubik-medium";
    font-size: 16px;
    line-height: 25px;
    color: white;
    padding: 18px 80px;
    display: inline-block;
    position: relative;
    margin-top: 51px;
    text-decoration: none;
}

.button::before {
    background: rgba(245, 56, 56, 0.35);
    filter: blur(25px);
    position: absolute;
    height: 100%;
    content: '';
    top: 25px;
    left: 20px;
    right: 20px;
    z-index: -1;
}

.img_girl {
    position: relative;
    top: 12px;
    left: 68px;
}

.list {
    border-radius: 10px;
    background: white;
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 1200px;
    display: flex;
    align-items: center;
}

.list::before {
    background: #EEEFF2;
    filter: blur(25px);
    position: absolute;
    height: 100%;
    content: '';
    top: 25px;
    left: 0;
    right: 0;
    z-index: -1;
}

.list ul {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.list li {
    border-right: 2px solid #EEEFF2;
    display: flex;
    padding: 30px 115px;
}

.list li:last-child {
    border: none;
}

.list img {
    padding-right: 36.5px;
}

.list div:first-child {
    font-family: 'Rubik-bold';
    color: #0B132A;
    font-size: 25px;
    line-height: 30px;
    margin: 5px;
}

.list div:last-child {
    font-family: 'Rubik';
    font-size: 20px;
    line-height: 30px;
    color:#707682;
}


/***** advertising *****/


#advertising {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.exploring {
    padding-left: 172px;
    padding-top: 22px;
}

h2 {
    font-family: 'Rubik-medium';
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin-bottom: 0;
}

.exploring ul {
    padding-left: 10px;
}

.exploring li {
    font-size: 14px;
    line-height: 30px;
    color:#707682;
    list-style: none;
    padding: 4px 0;
}

.exploring li::before {
    content: url(../img/check_mark.svg);
    top: 7px;
    right: 10px;
    position: relative;
}


/***** plan *****/


#plan {
    background: #FBFBFB;
    padding-bottom: 151px;
}

#plan > div:first-child {
    margin: 0 auto;
    width: 555px;
    text-align: center;
    padding-top: 60px;
}

#plan ul:first-child {
    display: flex;
    justify-content: space-between;
    width: 1090px;
    margin: auto;
    padding: 0;
}

#plan .box {
    background-image: url(../img/Standard.png);
    background-repeat: no-repeat;
    background-position: center 76px;
    background-color: #ffffff;
    margin-top: 62px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;  
    position: relative;
    z-index: 1; 
}

#plan .box:first-child {
    background-image: url(../img/Free.png);
}

#plan .box:last-child {
    background-image: url(../img/Premium.png);
}

h3 {
    padding-top: 258px;
    text-align: center;
}

#plan ul ul {
    padding: 5px;
    padding-left: 88px;
    list-style-type: none;
}

#plan ul ul li {
    font-family: 'Rubik';
    font-size: 14px;
    line-height: 30px;
    padding-top: 5px;
}

#plan ul ul li::before {
    content: url(../img/check_mark_no_circle.svg);
    position: relative;
    top: 7px;
    right: 20px;
}

.price {
    font-family: 'Rubik-medium';
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    padding-bottom: 18px;
}

#plan .button {
    margin: 0 75px;
    background-color: #FFFFFF;
    border: 2px solid #F53838;
    border-radius: 50px;
    padding: 13px 62px;
    position: relative;
    color: #F53838;
    text-decoration: none;
    font-family: 'Rubik-bold';
    font-size: 16px;
    line-height: 19px;
}

.price_button {
    padding-bottom: 47px;
}

}

#plan span {
    font-family: 'Rubik';
    font-size: 25px;
    line-height: 30px;
    color:#707682;;
}

#plan .button::before {
    opacity: 0;
    z-index: -1;
 }
#plan .button:hover::before {
    opacity: 1;
 }

 #plan label {
    width: 330px;
    height: 760px;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;  
 }

 #plan .box input[type="radio"]:checked + label {
    border: 2px solid #F53838;
 }

 #plan .box input[type="radio"] {
     display: none;
 }

 #plan .box input[type="radio"]:checked + label .button {
     background-color: #F53838;
     color: #ffffff;
 }


 /***** global *****/


 #global {
    background: #FBFBFB;
 }

#global div:first-child {
    width: 555px;
    margin: auto;
    text-align: center;
}

 #global h2 {
     margin: 0;
 }

 #global .map {
     width: 1060px;
     margin: auto;
     padding-top: 156px;
     position: relative;
 }


/***** global img *****/

#global .map > div > img {
    position: absolute;
    opacity: 0.7;
    transition: all 150ms ease-in-out;
}
#global .map > div > img:hover {
    opacity: 1;
    transform: scale(1.2);
}

  
#circle_popup1 {
    width: 2.5%;
    bottom: 421px;
    left: 32px;
 }

#circle_popup2 {
    width: 3.5%;
    bottom: 421px;
    left: 114px;
} 

#circle_popup3 {
    width: 3.5%;
    bottom: 411px;
    left: 190px;
} 

#circle_popup4 {
    width: 5.5%;
    bottom: 343px;
    left: 150px;
}

#circle_popup5 {
    width: 4%;
    bottom: 366px;
    left: 272px;
}

#circle_popup6 {
    width: 3%;
    bottom: 307px;
    left: 238px;
}

#circle_popup7 {
    width: 3%;
    bottom: 273px;
    left: 184px;
}

#circle_popup8 {
    width: 3.5%;
    bottom: 188px;
    left: 274px;
}

#circle_popup9 {
    width: 5%;
    bottom: 124px;
    left: 308px;
}

#circle_popup10 {
    width: 2.5%;
    bottom: 153px;
    left: 365px;
}

#circle_popup11 {
    width: 3.5%;
    bottom: 64px;
    left: 288px;
}

#circle_popup12 {
    width: 2%;
    bottom: 423px;
    left: 357px;
}

#circle_popup13 {
    width: 3.5%;
    bottom: 478px;
    left: 347px;
}

#circle_popup14 {
    width: 3%;
    bottom: 512px;
    left: 265px;
}

#circle_popup15 {
    width: 3%;
    bottom: 494px;
    left: 414px;
}

#circle_popup16 {
    width: 3.5%;
    bottom: 402px;
    left: 512px;
}

#circle_popup17 {
    width: 2%;
    bottom: 445px;
    left: 732px;
}

#circle_popup18 {
    width: 4.5%;
    bottom: 333px;
    left: 551px;
}

#circle_popup19 {
    width: 4.5%;
    bottom: 380px;
    left: 650px;
}

#circle_popup20 {
    width: 3.5%;
    bottom: 236px;
    left: 470px;
}

#circle_popup21 {
    width: 6%;
    bottom: 201px;
    left: 555px;
}

#circle_popup22 {
    width: 5%;
    bottom: 106px;
    left: 551px;
}

#circle_popup23 {
    width: 6%;
    bottom: 347px;
    left: 748px;
}

#circle_popup24 {
    width: 5%;
    bottom: 249px;
    left: 708px;
}

#circle_popup25 {
    width: 3%;
    bottom: 419px;
    left: 862px;
}

#circle_popup26 {
    width: 4%;
    bottom: 417px;
    left: 985px;
}

#circle_popup27 {
    width: 3%;
    bottom: 294px;
    left: 793px;
}

#circle_popup28 {
    width: 3%;
    bottom: 158px;
    left: 808px;
}

#circle_popup29 {
    width: 5.5%;
    bottom: 78px;
    left: 831px;
}

#circle_popup30 {
    width: 3%;
    bottom: 75px;
    left: 914px;
}

.sponsored {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}


/***** recommendation *****/


#recommendation {
    background: #FBFBFB;
    overflow: hidden;
    margin-bottom: -123px;
}

#recommendation h2 {
    margin-top: 0;
}

.heading {
    margin: auto;
    width: 555px;
    text-align: center;
    padding-top: 49px;
}

#recommendation li{
    list-style: none;
    margin-right: 50px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    width: 400px;
    height: 230px;
    display: block;
    justify-content: space-between;
    flex-direction: column; 
    border-radius: 10px;
    padding: 29px;
}

#recommendation li:hover{
    border: 2px solid #F53838;
}

.profile_panel {
    display: flex;
    margin-top: -2px;
}

#recommendation ul {
    display: flex;
    justify-content: stretch;
    width: 200%;
}

.comments {
    max-width: 100vw;
    overflow-x: scroll;
    padding: 46px 146px;
    width: 100%;
}

.name {
    font-family: 'Rubik-medium';
    font-size: 18px;
    line-height: 30px;
}

.place {
    font-family: 'Rubik';
    font-size: 14px;
    line-height: 30px;
    color:#707682;
    margin-top: -5px;
}

.personal_data {
    padding-left: 18px;
}

.rating {
    margin: auto 0 auto auto;
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
    padding-right: 25px;
    background-position-x: right;
}

#recommendation .comments h6 {
    margin-top: 6px;
}

.oval {
    width: 45px;
    height: 15px;
    background: #DDE0E4;
    border-radius: 50px;
}

.circle1, .circle2, .circle3 {
    width: 15px;
    height: 15px;
    background: #DDE0E4;
    border-radius: 50px;
}

.move {
    display: flex;
    justify-content: space-evenly;
    width: 163px;
    margin-left: 172px;
    margin-top: 7px;
}

.comments::-webkit-scrollbar {
    width: 0;
}

.arrow {
    display: flex;
    width: 325px;
    margin-top: -45px;
}

.scroll {
    display: flex;
    justify-content: space-between;
    margin-bottom: 123px;
}

.arrow img:first-child {
    margin-right: -24px;
    margin-top: -27px;
}



/***** popup *****/




.popup {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 233px;
    background: #FFFFFF;
    border-radius: 10px;
    z-index: 1;
    position: relative;
}


.subscribe {
    padding: 57px 70px;
}

.subscribe h2, .subscribe h6 {
    margin: 0;
}

.popup .button {
    height: 60px;
    margin: 93px 70px;
    padding-left: 66px;
    padding-right: 0px;
    width: 250px;
    z-index: 1;
}


/***** footer *****/



#footer {
    background: #F8F8F8;
    margin-top: -110px;
    position: relative;
}

#footer > div {
    display: flex;
    justify-content: space-between;
    padding: 69px 0;
    margin: auto;
    box-sizing: border-box;
    width: 1140px;
    
}

.discription {
    margin-top: 110px;
}

#footer ul {
    display: block;
    margin-top: 4px;
    padding-left: 126px;
}

.footer_nav {
    display: flex;
    margin-top: 110px;
}

.footer_logo {
    display: flex;
}

.footer_logo > div {
    padding: 8px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Rubik-medium';
    color: #0B132A;
}

.networks {
    margin: 25px -18px 0;
}

.networks > a {
    margin-right: -21px;
}

.date {
    margin-top: -25px;
}

#footer li:first-child{
    padding-bottom: 20px;
}

#footer li {
    list-style: none;
    font-family: 'Rubik-medium';
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    padding-bottom: 10px;
}

#footer li a {
    text-decoration: none;
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 30px;
    color:#707682;
}
