@font-face {
    font-family: 'Rubik';    
    src: url('../fonts/Rubik-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-medium';
    src: url('../fonts/rubik-v9-cyrillic-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-bold';
    src: url('../fonts/rubik-v9-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: "Rubik";
}

/***** header *****/

#header {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    width: 1140px;
}

.logobox {
    display: flex;
    justify-content: center;
    font-family: 'Rubik-medium';
}

nav {
    margin: auto;
}

.sign {
    font-family: 'Rubik-medium';
    margin: auto 0;
}

.logobox div {
    font-size: 20px;
    margin: auto 10px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
}

nav li a {
    color:#707682;
    text-decoration: none;
    margin: 0 20px;
}

.sign a {
    text-decoration: none;
    margin-left: 26px;
    color: black;
}

.sign a:first-child {
    margin-left: 46px;
}

.sign a:last-child {
    border: 1px solid #F53855;
    padding: 13px 45px;
    border-radius: 50px;
    color: #F53855;
}


/***** hero *****/

.promo {
    display: flex;
    justify-content: space-between;
    padding: 23px 0 110px 0;
    margin: auto;
    width: 1140px;
}
strong {
    font-family: "Rubik-bold";
}
h1 {
    font-family: "Rubik-medium";
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 0;
}

h6 {
    font-family: "Rubik";
    font-size: 16px;
    line-height: 30px;
    color:#707682;
    margin-top: 19px;
    margin-bottom: 0;
}

.button {
    background: #F53838;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: "Rubik-medium";
    font-size: 16px;
    line-height: 25px;
    color: white;
    padding: 18px 80px;
    display: inline-block;
    position: relative;
    margin-top: 51px;
}

.button::before {
    background: rgba(245, 56, 56, 0.35);
    filter: blur(25px);
    position: absolute;
    height: 100%;
    content: '';
    top: 25px;
    left: 20px;
    right: 20px;
    z-index: -1;
}

.img_girl {
    position: relative;
    top: 12px;
    left: 68px;
}

.list {
    border-radius: 10px;
    background: white;
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 1200px;
    display: flex;
    align-items: center;
}

.list::before {
    background: #EEEFF2;
    filter: blur(25px);
    position: absolute;
    height: 100%;
    content: '';
    top: 25px;
    left: 0;
    right: 0;
    z-index: -1;
}

.list ul {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.list li {
    border-right: 2px solid #EEEFF2;
    display: flex;
    padding: 30px 115px;
}

.list li:last-child {
    border: none;
}

.list img {
    padding-right: 36.5px;
}

.list div:first-child {
    font-family: 'Rubik-bold';
    color: #0B132A;
    font-size: 25px;
    line-height: 30px;
    margin: 5px;
}

.list div:last-child {
    font-family: 'Rubik';
    font-size: 20px;
    line-height: 30px;
    color:#707682;
}


/***** advertising *****/


#advertising {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.exploring {
    padding-left: 172px;
    padding-top: 22px;
}

h2 {
    font-family: 'Rubik-medium';
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin-bottom: 0;
}

.exploring ul {
    padding-left: 10px;
}

.exploring li {
    font-size: 14px;
    line-height: 30px;
    color:#707682;
    list-style: none;
    padding: 4px 0;
}

.exploring li::before {
    content: url(../img/check_mark.svg);
    top: 7px;
    right: 10px;
    position: relative;
}