@font-face {
    font-family: 'Rubik';    
    src: url('../fonts/Rubik-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-bold';
    src: url('../fonts/rubik-v9-cyrillic-500.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Rubik";
}

/***** header *****/

#header {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    width: 1140px;
}

.logobox {
    display: flex;
    justify-content: center;
    font-family: 'Rubik-bold';
}

nav {
    margin: auto;
}

.sign {
    font-family: 'Rubik-bold';
    margin: auto 0;
}

.logobox div {
    font-size: 20px;
    margin: auto 10px;
}

li {
    list-style: none;
}

.nav a {
    color:#707682;
    text-decoration: none;
    margin: 0 25px;
}

.sign a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

.sign a:last-child {
    border: 1px solid #F53855;
    padding: 13px 45px;
    border-radius: 50px;
    color: #F53855;
}


/***** hero *****/

.promo {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 100px 0;
    margin: auto;
    width: 1140px;
}

h1 {
    font-family: "Rubik-bold";
    font-size: 50px;
    line-height: 70px;
}

h6 {
    font-family: "Rubik";
    font-size: 16px;
    line-height: 30px;
    color:#707682;
}

.button {
    background: #F53838;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: "Rubik-bold";
    font-size: 16px;
    line-height: 25px;
    color: white;
    padding: 17.5px 77.5px;
    display: inline-block;
    position: relative;
    margin-top: 30px;
}

.button::before {
    background: rgba(245, 56, 56, 0.35);
    filter: blur(25px);
    position: absolute;
    height: 100%;
    content: '';
    top: 25px;
    left: 20px;
    right: 20px;
    z-index: -1;
}

.img_girl {
    margin-left: 0;
}

.list {
    border-radius: 10px;
    background: white;
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 1200px;
    display: flex;
    align-items: center;
}

.list::before {
    background: #EEEFF2;
    filter: blur(25px);
    position: absolute;
    height: 100%;
    content: '';
    top: 25px;
    left: 0;
    right: 0;
    z-index: -1;
}

.list ul {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.list li {
    border-right: 2px solid #EEEFF2;
    display: flex;
    padding: 30px 124px;
}

.list li:last-child {
    border: none;
}

.list img {
    padding-right: 36.5px;
}

.list div:first-child {
    font-family: 'Rubik-bold';
    font-weight: bold;
    color: #0B132A;
    font-size: 25px;
    line-height: 30px;
}

.list div:last-child {
    font-family: 'Rubik';
    font-size: 20px;
    line-height: 30px;
    color:#707682;
}