/* проверь */
/* 

    пути могут быть относительными, могут абсолютными
    если начинается с / это абсолютный путь от корня (по идее от места где index.html)
    если с точкой или 2 точками, то относительный
    т.е. тут это по идее ../fonts/Rubik.ttf
    две точки значит переход назад относительно текущей папки
это абсолютный путь
сейчас да, проверь зафуррычило ли
нет
*/
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
    url("/fonts/Rubik.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Rubik;
}
